html{
    max-width: 1440px;
    width:100%;
    margin:0 auto;
}
body{
    background-image: url('assets/images/background-desktop.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1{
    font-size:50px;
}
div.imagens{
display:flex;
flex-direction: row-reverse;
}
.centro{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section{
    color: black;
    padding: 10px;
    width:100px auto;
    height:auto;
    color:white;
    margin-left: 0px;
}

div.input{
    width: 100%;
    position:relative;
}

div.input label{
    font-size:20px;
    margin: 10px;
    margin-left: 15px;
    position:absolute;
    left:0;
    cursor:text;
    transition:0.5s ease-in-out;
    color: white;
}

div.input .input{
    outline:0;
    padding: 10px;
    width: 350px;
    height: 25px;
    border-color: rgba(255, 255, 255, 0.2);
    background-color: hsla(245, 15%, 58%,0.1);
    color: white;
    border-radius: 10px;
}

#drop_zone {
    border: 2px;
    border-color: rgba(255, 255, 255, 0.2);
    background-color: hsla(245, 15%, 58%,0.1);;
    border-radius: 10px;
    border-style: dashed;
    backdrop-filter: blur(1.5px); 
    width: 305px;
    height: 100px;
    padding: 30px;
  }
  