html{
    width:100%;
    margin:0 auto;
}

body{
    background-image: url('assets/images/background-desktop.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1{
    font-size:50px;
}

div.imagens{
display:flex;
flex-direction: row-reverse;
}

.centro{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section{
    color: black;
    padding: 10px;
    width:100px auto;
    height:auto;
    color:white;
    margin-left: 0px;
}

div.input{
    width: 100%;
    position:relative;
}

div.input p{
    font-size: 20px;
}

div.input .input{
    outline:0;
    padding: 10px;
    width: 350px;
    height: 25px;
    border-color: rgba(255, 255, 255, 0.2);
    background-color: hsla(245, 15%, 58%,0.1);
    color: white;
    border-radius: 10px;
}

#drop_zone {
    border: 2px;
    border-color: rgba(255, 255, 255, 0.2);
    background-color: hsla(245, 15%, 58%,0.1);;
    border-radius: 10px;
    border-style: dashed;
    backdrop-filter: blur(1.5px); 
    width: 305px;
    height: 100px;
    padding: 30px;
  }

div.ticketup{
    text-align: center;
    margin-top: 0px;
}

section.ticket{

    position: relative; /* Permite que os elementos internos sejam posicionados relativamente a esta seção */
    overflow: hidden; /* Garante que a imagem não ultrapasse os limites do ticket */
}

div.dentroticket{
    position: absolute;
    top: 0px;
    left: 0px;

}

.ticket-background{
    width: 100%; /* Faz a imagem cobrir toda a largura do ticket */
    height: 100%; /* Faz a imagem cobrir toda a altura do ticket */
    object-fit: cover;

}